:root{
    --bg-color1:#ffd55c;
    --bg-color2: #5a95ff;
    --bg-color3: #f1f8fb;
    --bg-color4: rgba(0,0,0,0.3);
    --bg-color5: #111111;
    --bg-color6: #d1d3d4;
    --danger:red;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom, #ffd55c 50%, #5a95ff 50%);
}


.app{
    font-family: "Poppins",sans-serif;
    width: min(95vw,500px);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 1.875rem ;
} 

.container{
    padding: 2em 2.5em;
    background-color: var(--bg-color3);
    box-shadow: 0 1em 2em var(--bg-color4);
}

#wrapper{
    position: relative;
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap:1em;
}

#wrapper input{
    width: 100%;
    background-color: transparent;
    color: var(--bg-color5);
    font-size: 0.9em;
    border:none;
    border-bottom: var(--bg-color6);
    padding: 1em 0.5em;
}
#wrapper input:focus{
    outline: none;
    border-color: var(--bg-color2);
}
#wrapper button{
    position: relative;
    border-radius: 0.5em;
    font-weight: 500;
    font-size:1em;
    background-color: var(--bg-color2);
    border: none;
    outline: none;
    color: wheat;
    cursor: pointer; 
}

#error{
    text-align: center;
    background-color: white;
    color: var(--danger);
    margin-top: 1.5em;
    padding: 1em 0;
    border-radius: 0.8em;
    font-weight: 500;
    font-weight: bold;
    display: none;

}
 